body{
    background-color: aquamarine;
}

h1{
    text-align: center;
    font-family: cursive;
    color: rebeccapurple;
}

h3{
    text-decoration: underline;
}

.naruto-image{
    margin-left: 1220px;
}

table{
    margin-bottom: 50px;
    border-spacing: 5px;
    margin-left: -7px;
}

th{
    border: 1px solid bisque;
}

a{
    display: inline-block;
    border: 2px solid red;
    margin-top: 20px;
}

